<?xml version="1.0"?>
<Events>
    <SupportURL>https://davel17.github.io/BikeShare/</SupportURL>
    <Event id="stationOutOfService">
        <Name>Station Out of Service</Name>
            <ConfigUI>

                <Field id="outOfServiceLabel" type="label">
                    <Label>The Bike Share Plugin can fire a trigger if a service is reporting that a station is out of service.  Select the station that you want to monitor.</Label>
                </Field>

                <Field id="outOfServiceSpacer" type="label"/>

                <Field id="listOfStations" type="menu">
                    <Label>Station:</Label>
                    <List class="self" filter="" method="get_station_list"/>
                </Field>

            </ConfigUI>
    </Event>
</Events>
